# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS and Windows system files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# AWS credentials (if you ever use them)
.aws/

# Local test/output files
*.log